.collins-logo{
    margin-top: 0;
    width: 170px;
    height: auto;
}
.contact-info{
    margin-left: 5px;
}

.address{
    margin-left: 5px;
    margin-top: 88px;
}

.rospa-logo{
    width: 22px;
    margin-top: 45px;
    margin-left: 2px;
}

.iso-logo{
    margin-top: 44px;
    margin-left: 28px;
    width: 93px;
}

.co2-logo{
    margin-top: 43px;
    margin-left: 126px;
    width: 59px;
}

.nfdc-logo{
    margin-top: 41px;
    margin-left: 186px;
    width: 60px;
}

.acad-logo{
    margin-top: 45px;
    margin-left: 252px;
    width: 100px;
}

.brochure{
    margin-top: 35px;
    margin-left: 667px;
}

.brochure-text{
    margin-top: 71px;
    margin-left: 624px;
}

