.collins-logo{
    margin-top: 17px;
    width: 234px;
    margin-left: 0px;
}

.social-media-links{
    margin-top: 12px;
    margin-left: 632px;
}

.contact-info{
    margin-top: 73px;
    margin-left: 3px;
    font-size: 10.5px;
    /* border: 2px red solid; */
    width: 395px;
    display: inline-block;
    font-family: 'Tahoma';
    /* font-family: Tahoma, Geneva, Verdana, sans-serif; */
}

.address{
    margin-left: 3px;
    margin-top: 89px;
}

.iso-logo{
    margin-top: 43px;
    margin-left: 2px;
}

.co2-logo{
    margin-top: 44px;
    margin-left: 135px;
}

.brochure{
    margin-top: 36px;
    margin-left: 669px;
}

.brochure-text{
    margin-top: 72px;
    margin-left: 626px;
}