.collins-logo{
    margin-top: 0;
    margin-left: 2px;
    width: 170px;
    height: auto;
}
.contact-info{
    margin-left: 8px;
}

.address{
    margin-left: 8px;
    margin-top: 88px;
}

.volvo-logo{
    margin-top: 30px;
    margin-left: 0px;
    padding: 0px;
    width: 60px;
} 


.brochure{
    margin-top: 35px;
    margin-left: 667px;
}

.brochure-text{
    margin-top: 71px;
    margin-left: 624px;
}

