.collins-logo{
    margin-top: 0;
    width: 170px;
    height: auto;
}
.contact-info{
    margin-left: 5px;
}

.address{
    margin-left: 5px;
    margin-top: 88px;
}

.iso-logo{
    margin-top: 42px;
    margin-left: 1px;
    width: 72px;
}

.cpsc-logo{
    margin-top: 41.1px;
    margin-left: 76px;
    width: 21px;
}


.npors-logo{
    margin-top: 42px;
    margin-left: 99px;
    width: 17px;
}

.citb-logo{
    margin-top: 40px;
    margin-left: 121px;
    width: 55px;
}

.proqual-logo{
    margin-top: 42px;
    margin-left: 180px;
    width: 22px;
}

.qa-logo{
    margin-top: 42px;
    margin-left: 207px;
    width: 40px;
}

.sqa-logo{
    margin-top: 43px;
    margin-left: 252px;
    width: 42px;
}

.street-work-logo{
    margin-top: 37px;
    margin-left: 299px;
    width: 20px;
}

.co2-logo{
    margin-top: 42px;
    margin-left: 321px;
    width: 41px;
}

.brochure{
    margin-top: 41px;
    margin-left: 669px;
}

.brochure-text{
    margin-top: 77px;
    margin-left: 626px;
}

