.collins-logo{
    margin-top: 0;
    width: 170px;
    height: auto;
}

.fors-logo{
    margin-top: 53px;
    margin-left: 135px;
    width: 24px;
}

.clocs-logo{
    margin-top: 53px;
    margin-left: 165px;
    width: 36px;
}

.iso-logo{
    width: 130px;
    margin-left: 2px;
    margin-top: 50px;
}

.co2-logo{
    margin-left: 210px;
    margin-top: 50px;
    width: 75px;
}